body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: flex;
	height: 100vh;
}

@media (max-width: 500px) {
	.container {
		flex-direction: column;
	}	
}

@media (min-width: 501px) {
	.container {
		flex-direction: row;
	}	
}

#map {
	flex: 3; 
}

#list {
	flex: 1;
	height: 100vh;
	overflow: scroll;
}

h2 {
	margin: 10px;
}

.event-item {
	margin: 10px;
}

.event-title {

}

.event-summary {
	font-size: .8em;
}

.marker {
  background-image: url('ma-icon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
}
